<html>
        <head>
            <title>Kevin Rubio blog</title>
        </head>
        <body>
            <div>
                <h1><a href="">Kevin Rubio Blog</a></h1>
            </div>
            <div>
            	{{posts}}
            </div><hr>

           		{% for post in posts %}
           			<div>
           				<p>publicado: {{post.published_date}}</p>
           				<h1><a href="">{{post.title}}</a></h1>
           				<p>{{post.text}}</p>
           			</div>
           		{% endfor %}

        </body>
    </html>